body {
  background: #0a0a0f;
  color: white;
  font-family: Arial;
}

.wrapper {
  max-width: 700px;
  margin: auto;
  padding: 40px;
}

.card {
  background: #13131c;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

button {
  margin: 5px;
  padding: 8px 14px;
  cursor: pointer;
}

.tabs button {
  background: #222;
  color: white;
  border: none;
}